Página de cadastro de produtos
<br />
<!--post é usado para criar coisas-->
<form action="/produtos/executarcadastrodeproduto" method="post">
    Nome: <input name="nome"/><br />
    Preco: <input name="preco"/><br />
    <input type="submit" value="Cadastrar" />
</form>