@{
    ViewData["Title"] = "Home Page";
}

<h4>Gerenciador de produtos</h4>
<ol>
    <li><a href="/produtos/cadastrar">Cadastrar</a></li>
    <li><a href="/produtos/listar">Listar</a></li>
    <li>Excluir</li>
    <li>Pesquisar</li>
</ol>
